/* Main text color #757575  */
/* Title text color #212121 */
/* AcÑent #2196F3 */
/* Black #000000 */
/* White #ffffff */
/* Footer contacts rgba(255, 255, 255, 0.6) */

/* Primary background color #ffffff */
/* Secondary background color #2f303a */
/* Third background color #e5e5e5 */
/* Fourth background color f5f4fa */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #e5e5e5;
  --fourth-background-color: #f5f4fa;
  --logo-color: #2196f3;
  --logo-part-header-color: #000000;
  --logo-part-footer-color: #ffffff;
  --button-hero-text-color: #ffffff;
  --button-hero-background-color: #2196f3;
  --button-hero-accent-background-color: #188ce8;
  --button-text-color: #212121;
  --button-background-color: #f5f4fa;
  --button-accent-text-color: #ffffff;
  --button-accent-background-color: #2196f3;
  --address-text-color: #ffffff;
  --contacts-footer-text-color: rgba(255, 255, 255, 0.6);
}
/* Page background and text color */
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* List options */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Site logo */
.logo {
  color: var(--logo-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-part-header {
  color: var(--logo-part-header-color);
}
.logo-part-footer {
  color: var(--logo-part-footer-color);
}
/* Header position */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Site nav */
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Site contacts */
.contacts .link {
  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* Site hero */
.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
}
.hero-title {
  margin-top: 0;
  color: var(--hero-title-color);
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero p {
  margin: 0;
}
/* Site sections */
.section {
  padding: 94px 0;
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.section-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.24;
  text-align: center;
}
/* Features */
.feature .title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;

  line-height: 1.14;
  text-transform: uppercase;
}
.feature p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Example of work */
.example > .item {
  margin-bottom: 94px;
}

/* Team */
.team {
  background-color: var(--fourth-background-color);
}
.section.team {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0;
}

.our-team .title {
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.our-team .profession {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
}
/* Button */
.button-hero {
  color: var(--button-hero-text-color);
  background-color: var(--button-hero-background-color);

  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;

  cursor: pointer;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-hero-accent-background-color);
}
.button {
  color: var(--button-text-color);
  background-color: var(--button-background-color);

  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-decoration: none;

  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--button-accent-text-color);
  background-color: var(--button-accent-background-color);
}
.buttons .button {
  margin-bottom: 50px;
}
/* Portfolio */
.portfolio .title {
  color: var(--title-text-color);
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .work-type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.portfolio .item {
  border-bottom: 20px;
}
.portfolio .link {
  text-decoration: none;
}
/* Footer */
.footer {
  background-color: var(--secondary-background-color);
}
.footer .address {
  color: var(--address-text-color);

  font-style: normal;
}
.contacts .link-footer {
  color: var(--contacts-footer-text-color);

  text-decoration: none;
}
.contacts .link-footer:hover,
.contacts .link-footer:focus {
  color: var(--accent-color);
}
